.sobre-nos-cima{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.sobre-nos-baixo{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    margin: 1.5%;
    gap: 20px;
}

.sobre-nos-cima-imagem{
    width: 200px;
}

.sobre-nos-baixo-texto{
    background-color: aquamarine;
    border: solid black 1px;
    border-radius: 8px;
    padding: 3px;
}