*{
    margin: 0%;
    text-decoration: none;
    padding: 0%;
}

body{
    background-color: rgb(179, 179, 179);
}

/*Estilização cabecalho*/
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 2%;
    padding-bottom: 10px;
    border-bottom: solid black 1px ;
}

.cabecalho-menu{
    display: flex;
    gap: 40px;
}
.cabecalho-imagem{
    width: 95px;
    height: 95px;  
}

/*Estilização conteúdo página inicial*/
.conteudo-cima{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.conteudo-cima-texto{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.conteudo-cima-imagem{
    height: 160px;
    width: 160px;
}

.conteudo-baixo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.conteudo-baixo-titulo{
    border-top: solid black 1px;
    padding-top:30px;
}

/*Estilização conteúdo rodapé*/
.rodape{
    border-top: solid rgb(0, 0, 0) 1px;
    margin-top: 2%;
}